*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, Arial, "sans-serif";
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notes-main-section{
  display: flex;
  padding-top: 2rem;
  gap: 2rem;  
}

nav{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  padding-left: 3rem;
  background-color: #002d5b;
  min-width: 100%;
  height: 5rem;
}

.nav-button{
  background: none;
  border: none;
  padding: 2rem;
  color: white;
  font-size: 20px;
}

.template-builder-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
}

.info-fields-div{
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: baseline;
  max-width: 600px;
}

.info-fields-div > div{
  display: flex;
  margin: 0.5rem;
  align-items: baseline;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.info-fields-div > div > label{
  padding-bottom: 1rem;
}

.checkbox-div{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
}

input[type='checkbox']{
  margin: 1rem;
}

label{
  padding-bottom: 2rem;
}

.copy-icon{
  height: 30px;
  width: 30px;
}

.copy-icon-clicked{
  animation: copy-clicked .3s;
}

/* make it go dark towards the middle then back to white / clear at the end could use an opacity transition*/
@keyframes copy-clicked {
  0% {background-color: #7c8081;}
  50% {background-color: #5d5f61;}
  100% {background-color: #2a2c2c;}
}

h2{
  margin-bottom: 1rem;
}

.case-notes-header{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* add animation on collapse */
@keyframes collapse {
  0% {
    max-height: 100px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 100px;
    opacity: 1;
  }
}

.checkbox-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

details{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details::details-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
  transition-property: block-size, content-visibility;
	transition-duration: 1.5s;
	transition-behavior: allow-discrete;
}

.details[open]::details-content {
	/* Fallback for browsers that don't support calc-size() function */
	block-size: auto;
	
	/* calc-size() function allows transition to height: auto; */
	block-size: calc-size(auto, size);
}


/*
  -webkit-animation: collapse 0.5s;
  -webkit-animation-fill-mode:forwards;
 */

.checkbox-div-collapsed {

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.checkbox-div-expanded {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes collapse {
  0% {
    visibility: hidden; 
    height: 0;
    opacity: 0;
  }
  25% {
    visibility: visible; 
    height: 100px;
    opacity: 0.5;
  }
  100% {
    visibility: visible; 
    max-height: 600px;
    opacity: 1;
  }
}

@-webkit-keyframes expand{
  0% {
    visibility: visible; 
    max-height: 100px;
    opacity: 1;
  }
  100% {
    visibility: hidden; 
    height: 0;
    opacity: 0;
  }
}

.collapse-button{
  height: 16px;
  margin-top: .4rem;
  width: auto;
}

.tools{
  display: none;
}

.tools > *{
  margin-bottom: 1rem;
}

.template-dropdown-label{
  margin-left: 1rem;
}

#text-field-controls{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.content-copied-notification{
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 52%;
  margin-left: -80px;
  top: 8%;
}

.notes-main-section{
  display: flex;
  padding-top: 2rem;
  gap: 2rem;  
}

#additional-notes-text-field{
  border: #002d5b 1px solid;
}

.text-field-section{
  width: 750px;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media (max-width: 1300px) {
  .notes-main-section {
    flex-direction: column-reverse;
    margin: 1rem;
  }
  .collapse-div{
    display: flex;
  }

  .template-builder-main{
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  #case-notes-text-field{
    width: 100%;
  }
}